<h1>Log in</h1>

<%= form_with(scope: :session, url: login_path, local: true) do |f| %>
  <p>
    <%= f.label :username %>
    <br>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %>
    <br>
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.submit 'Log in' %>
  </p>
<% end %>

<%=link_to 'Cancel', articles_path %>