<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Categories</th>
      <th>Creator</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  <% @articles.each do |article| %>
    <tr>
      <td><%=article.title %></td>
      <td><%=article.description %></td>
      <% if article.categories.any? %>
        <td><%=render article.categories %></td>
      <% else %>
        <td> </td>
      <% end %>
      <td><%=article.user.username if article.user%></td>
      <td>
        <%=link_to 'View',article_path(article)%>
        <% if logged_in? && (article.user == current_user || current_user.admin?) %>
          <%=link_to 'Edit',edit_article_path(article)%>
          <%=link_to 'Delete',article_path(article), method: :delete, data: { confirm: 'Are you sure you want to delete this?'}%>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>

</table>
