<% if @article.errors.any? %>
  <p>The following errors prevented the article from being saved</p>
  <% @article.errors.full_messages.each do |msg| %>
    <ul>
      <li><%= msg %></li>
    </ul>
  <% end %>
<% end %>


<%=form_with(model: @article, local: true) do |f| %>
  <p>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %>
    <br>
    <%= f.text_area :description %>
  </p>
  <p>
    Category (Can be Empty)
    <br>
    <%= f.collection_select(:category_ids, Category.all, :id, :name,
                            { prompt: '' }, {multiple: true}) %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>