
<% if current_user == @article.user || current_user.admin?%>
  <%=link_to 'Edit',edit_article_path(article)%>
  <%=link_to 'Delete',article_path(article), method: :delete, data: { confirm: 'Are you sure you want to delete this?'}%>
<% end %>
<%=link_to 'Back', articles_path %>
