
<%= render partial: 'layouts/navigation' %>

<h1>List of Articles</h1>

<%= render 'articles/article' %>

<p>
  <%= link_to 'Create new article', new_article_path %>
</p>
<p>
  <%=link_to 'Home', root_path %>
</p>