<%= render partial: 'layouts/navigation' %>

<h1><%=@pagetitle %></h1>

<p><strong>Title: </strong> <%=@article.title %></p>
<p><strong>Description: </strong> <%=@article.description %></p>
<p><strong>Creator: </strong> <%=@article.user.username %></p>
<p>
  <strong>Categories: </strong>
  <br>
  <% if @article.categories.any? %>
    <%=render @article.categories %>
  <% end %>
</p>
<%= render partial: 'links', locals: { article: @article } %>
