<% if @user.errors.any? %>
  <p>The following errors prevented the article from being saved</p>
  <% @user.errors.full_messages.each do |msg| %>
    <ul>
      <li><%= msg %></li>
    </ul>
  <% end %>
<% end %>


<%=form_with(model: @user, local: true) do |f| %>
  <p>
    <%= f.label :username %>
    <br>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %>
    <br>
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :email %>
    <br>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit(@user.new_record? ? 'Sign up' : 'Update Account') %>
  </p>
<% end %>