<%= render partial: 'layouts/navigation' %>

<h1> List of users </h1>

<table>
  <thead>
  <tr>
    <th>User</th>
    <th>Articles</th>
    <th>Joined</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user|%>
    <tr>
      <td><%=user.username %></td>
      <td><%=pluralize(user.articles.count, 'Articles') %></td>
      <td><%=user.created_at %></td>
      <td>
        <%=link_to 'View',user_path(user)%>
        <% if logged_in? && user == current_user %>
          <%=link_to 'Edit',edit_user_path(user)%>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<p>
  <%=link_to 'Home', root_path %>
</p>