<%= render partial: 'layouts/navigation' %>

<h1><%=@user.username %></h1>

<h2>Articles</h2>

<%= render 'articles/article' %>

<%= link_to 'Back to user list', users_path %>
<br>
<br>
<% if current_user == @user || current_user.admin? %>
  <% if current_user == @user %>
    <%= link_to 'Edit Account', edit_user_path(current_user) %>
  <% end %>
  <%= link_to 'Delete Account', user_path(current_user), method: :delete %>
<% end %>