<%= render partial: 'layouts/navigation' %>

<h1>Home</h1>

<p>This is the home page!</p>

<p>
  <%=link_to 'Articles', articles_path %>
</p>

<p>
  <%=link_to 'Users', users_path %>
</p>

<p>
  <%=link_to 'About', about_path %>
</p>
