<%= render partial: 'layouts/navigation' %>

<h1>Categories</h1>

<table>
  <thead>
  <tr>
    <th>Category Name</th>
  </tr>
  </thead>

  <tbody>
  <% @category.each do |category| %>
    <tr>
      <td><%=link_to category.name, category_path(category) %></td>
      <td><%= pluralize(category.articles.count, 'Articles') %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<br>

<%= link_to 'Create new Category', new_category_path %>

<%= link_to 'Home', root_path %>
