<%= render partial: 'layouts/navigation' %>

<h1><%=@category.name %></h1>

<%= render 'articles/article' %>

<% if current_user.admin? %>
  <%= link_to 'Edit Category', edit_category_path(@category) %>
  <%= link_to 'Delete Category', category_path(@category), method: :delete %>
<% end %>
<br>
<%= link_to 'Back to category list', categories_path %>
