<br>
<%= link_to 'Articles', articles_path %>
<%= link_to 'Bloggers', users_path %>
<%= link_to 'Categories', categories_path %>
<% if logged_in? %>
  <%= link_to current_user.username, user_path(current_user)%>
  <%= link_to 'Log out', logout_path, method: :delete %>
<% else %>
  <%= link_to 'Log in', login_path %>
  <%= link_to 'Sign up', signup_path %>
<% end %>
